mixin modalBody(post)
  // Modal
  .modal.modal-lg.fade(id=`videoModal-${post.videoid}` tabindex='-1' role='dialog' aria-labelledby=`videoModalLabel-${post.videoid}` aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5.modal-title(id=`videoModalLabel-${post.videoid}`)= post.title 
          button.close(type='button' data-bs-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          // video
          .embed-responsive
            video.embed-responsive-item.w-100(id=`video-${post.videoid}` controls='controls' type='video/mp4' preload='metadata')
              source(src=`/api/video/${post.filename}` autostart='false')
              | Your browser does not support the video tag.
          // | ...
        .modal-footer
          button.btn.btn-secondary.mr-auto(type='button')= post.fancyShowName 
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
          // button.btn.btn-primary(type='button') Save changes

        // pause video on modal close
        - var scriptModalID = `#videoModal-${post.videoid}`
        - var scriptVideoID = `video-${post.videoid}`
        script.
          $('#{scriptModalID}').on('hidden.bs.modal', function() {
            document.getElementById("#{scriptVideoID}").pause()
          })

mixin videoCard(post)
  style.
    .playbtn {
      width: 12%;
    }
    .video-thumbnail {
      position: relative;
      cursor: pointer;
    }
    .card-body > a.card-text{
      cursor: pointer;
    }

    .video-thumbnail i {
      font-size: 4em;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
    .likeCount {
      text-align: right;
    }
    .likeHeart {
      padding: 0;
    }
  .col-md-4.featuredPost
    .card.mb-4.box-shadow
      // img.playbtn(src='/public/img/play-button-28259.png')
      .video-thumbnail
        a.card-text(data-bs-toggle='modal' data-bs-target=`#videoModal-${post.videoid}` style='text-decoration: none; color: black;')
          i.bi.bi-play-circle
          // TODO set this to thumbnail
          img.card-img-top(src='http://placekitten.com/1366/768')
      .card-body
        //- commented out part allows for title to open modal
        // a.card-text(data-bs-toggle='modal' data-bs-target=`#videoModal-${post.videoid}` style='text-decoration: none; color: black;')
          h5.card-text= post.title
        h5.card-text= post.title

        // username
        a.card-text(href=`/u/${post.userid}` style='text-decoration: none; color: black;')
          h6.card-text= 'by ' + post.username

        .d-flex.justify-content-between.align-items-center(style='margin-top: 5px')
          // main modal content
          +modalBody(post)

        .row
          .col-3
            // TODO different colors for different shows
            // TODO add channel links
            a.btn.btn-sm.btn-outline-secondary.showBtn.w-100(type='button', href=`/show/${post.show.toLowerCase()}`)= post.show
          .col-6
            p hi
          .col-2.likeCount
            p= post.likes
          // TODO figure out how to make this interactive
          .col-1.likeHeart
            button.btn.btn-outline-danger.btn-sm(type='button' data-bs-toggle='modal' data-bs-target=`#videoModal-${post.videoid}`)
              i.bi.bi-heart
