mixin videoCell(post)
  style.
    .playbtn {
      width: 12%;
    }
    .video-thumbnail {
      position: relative;
    }

    .video-thumbnail i {
      font-size: 4em;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  .col-md-4.featuredPost
    .card.mb-4.box-shadow
      // img.playbtn(src='/public/img/play-button-28259.png')
      .video-thumbnail
        a.card-text(data-bs-toggle='modal' data-bs-target=`#videoModal-${post.videoid}` style='text-decoration: none; color: black;')
          i.bi.bi-play-circle
          img.card-img-top(src='http://placekitten.com/1366/768')
      .card-body
        // h5.card-text= post.title
        a.card-text(data-bs-toggle='modal' data-bs-target=`#videoModal-${post.videoid}` style='text-decoration: none; color: black;')
          h5.card-text= post.title
        .d-flex.justify-content-between.align-items-center(style='margin-top: 5px')
          .btn-group
            // TODO add channel links
            // TODO different colors for different shows
            a.btn.btn-sm.btn-outline-secondary.showBtn(type='button', href=`#`)= post.show
            a.btn.btn-sm.btn-outline-secondary.usernameBtn(type='button', href=`/u/${post.userid}`)= post.username 
            +modalBtn(post)
            +modalBody(post)
  
          // small.text-muted= `${post.likes} likes`
          // TODO figure out how to make this interactive
          i.bi.bi-heart= ` ${post.likes}`
