extends _layout.pug
 
mixin cell
  .col-md-4
    .card.mb-4.box-shadow
      img.card-img-top(src='http://placekitten.com/1366/768')
      .card-body
        p.card-text
          | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .d-flex.justify-content-between.align-items-center
          .btn-group
            button.btn.btn-sm.btn-outline-secondary(type='button') View
            button#copyButton.btn.btn-sm.btn-outline-secondary(type='button') Edit
          small.text-muted 9 mins

mixin modalBtn(post)
  // Button trigger modal
  button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target=`#videoModal-${post.videoid}`)
    i.bi.bi-link-45deg
    // | Launch demo modal

mixin modalBody(post)
  // Modal
  .modal.fade(id=`videoModal-${post.videoid}` tabindex='-1' role='dialog' aria-labelledby=`videoModalLabel-${post.videoid}` aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title(id=`videoModalLabel-${post.videoid}`)= post.title 
          button.close(type='button' data-bs-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
          // button.btn.btn-primary(type='button') Save changes


mixin showcard(name)
  .col-6
    .card.mb-4.box-shadow
      img.card-img-top(src='http://placekitten.com/128/128')
      .card-body
        .btn-group
          button.btn.btn-sm.btn-outline-secondary(type='button')= name

block main
  .container
    // +modalBtn
    // +modalBody
  .container
    each post in featuredPosts
      each val, index in post
        li= index + ': ' + val
      hr

  section.jumbotron.text-center
    .container
      h1.jumbotron-heading AI Shows Clips
      p.lead.text-muted
        | Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
    // showcards for mobile only
    .container.d-sm-none
      .row
        +showcard("Family Guy")
        +showcard("Dragon Ball")

  .album.py-5
    .container
      .row
        h2 Recently Uploaded
      .row
        each post in featuredPosts
          .col-md-4.featuredPost
            .card.mb-4.box-shadow
              img.card-img-top(src='http://placekitten.com/1366/768')
              // .embed-responsive.card-img-top
              //   video.embed-responsive-item(controls='controls' type='video/mp4' preload='none' width:'100%')
              //     source(src=`/api/video/${post.filename}` autostart='false')
              //     | Your browser does not support the video tag.

              .card-body
                h5.card-text= post.title
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    // TODO add channel links
                    // TODO different colors for different shows
                    a.btn.btn-sm.btn-outline-secondary.showBtn(type='button', href=`#`)= post.show
                    a.btn.btn-sm.btn-outline-secondary.usernameBtn(type='button', href=`/u/${post.userid}`)= post.username 
                    +modalBtn(post)
                    +modalBody(post)

                  // small.text-muted= `${post.likes} likes`
                  // TODO figure out how to make this interactive
                  i.bi.bi-heart= ` ${post.likes}`
