extends _layout.pug

include _modal.pug
 
mixin cell
  .col-md-4
    .card.mb-4.box-shadow
      img.card-img-top(src='http://placekitten.com/1366/768')
      .card-body
        p.card-text
          | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .d-flex.justify-content-between.align-items-center
          .btn-group
            button.btn.btn-sm.btn-outline-secondary(type='button') View
            button#copyButton.btn.btn-sm.btn-outline-secondary(type='button') Edit
          small.text-muted 9 mins

mixin showcard(name)
  .col-6
    .card.mb-4.box-shadow
      img.card-img-top(src='http://placekitten.com/128/128')
      .card-body
        .btn-group
          button.btn.btn-sm.btn-outline-secondary(type='button')= name

block main

  section.jumbotron.text-center
    .container
      h1.jumbotron-heading AI Shows Clips
      p.lead.text-muted
        | Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
    // showcards for mobile only
    .container.d-sm-none
      .row
        +showcard("Family Guy")
        +showcard("Dragon Ball")

  .album.py-5
    .container
      .row
        h2 Recently Uploaded
      .row
        each post in featuredPosts
          // video cell
          .col-md-4.featuredPost
            .card.mb-4.box-shadow
              img.card-img-top(src='http://placekitten.com/1366/768')
              .card-body
                h5.card-text= post.title
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    // TODO add channel links
                    // TODO different colors for different shows
                    a.btn.btn-sm.btn-outline-secondary.showBtn(type='button', href=`#`)= post.show
                    a.btn.btn-sm.btn-outline-secondary.usernameBtn(type='button', href=`/u/${post.userid}`)= post.username 
                    +modalBtn(post)
                    +modalBody(post)

                  // small.text-muted= `${post.likes} likes`
                  // TODO figure out how to make this interactive
                  i.bi.bi-heart= ` ${post.likes}`

  .container
    each post in featuredPosts
      each val, index in post
        li= index + ': ' + val
      hr
