extends _layout.pug

include _videocard

block append style
  style.
    .socials i {
      font-size: 3rem;
    }
 
mixin socials
  each social in socialLinks
    if (social.link)
      .row
        .col-2
          a(href=social.link style=`color: ${social.iconColor}`)
            i.bi(class=`bi-${social.icon}`)
        .col-10= social.name

block main
  // jumbotron (top text)
  section.jumbotron.text-center
    .container
      h1.jumbotron-heading= showData.fullname
      p.lead.text-muted= showData.description
      //   | owwww oooof my bones they really hurt 😢😢😢

  .container
    .row
      //- show banner
      .col-lg-7
        img.w-100(src='http://placekitten.com/1000/600')
      //- socials for desktop
      .col-lg-5.d-none.d-lg-block.socials
        +socials
    // socials for mobile
    // TODO style
    .row.d-lg-none.text-center
      p
        button.btn.btn-primary(type='button' data-bs-toggle='collapse' data-bs-target='#linksCollapse' aria-expanded='false' aria-controls='linksCollapse')
          | Links
      #linksCollapse.collapse
        .card.card-body
          +socials

  .album.py-5
    .container
      // .row
      //   // h2 Recently Uploaded
      //   h2 Recent Uploads
      .row
        each post in posts
          +videoCard(post)

  .container
    each post in posts
      each val, index in post
        li= index + ': ' + val
      hr
